{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/reality-icon.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootsnav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.transitions.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cubeportfolio.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/range-Slider.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">